* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    background-color: #f5f5f5;
    font-family: 'Urbanist', sans-serif;
    font-weight:500;
}

#app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage {
    background-color: white;
    width: 390px;
    height: 844px;
    margin: 0 auto;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/map.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.searchContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}

.searchbar {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.searchIcon {
    width: 20px;
    height: 20px;
    background-image: url(./assets/searchicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
    color: #555
}

.profileImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

#results {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#results::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background-color: #DEDEDE;
    border-radius: 2px;
}

.resultsHead {
    height: 40px;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.resultsContent {
    margin-top: 25px;
    height: calc(100% - 40px);
    overflow-y: auto;
    scrollbar-width: none;
}

h1 {
    font-size: 18px;
    letter-spacing: 1px;
}

#results.expanded {
    height: calc(100vh - 260px);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.filterButton {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.5px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #DEDEDE;
    text-align: center;
    white-space: nowrap;
}

.filterButton.active {
    background-color: #DEDEDE;
}

button:active {
    transform: scale(0.95);
}

/* filtering toolbar at the top of the results */
.contentHead {
    width: 100%;
    top: 0;
    border-bottom: 2px solid #DEDEDE;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    scrollbar-width: none;
}

.contentHead img {
    width: 25px;
    height: 25px;
    left: 0;
}

.cafelist {
    padding-bottom: 60px;
}

.cafe {
    border-bottom: 2px solid #DEDEDE;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 25px;
}

.cafeimg {
    width: 150px;
    height: 100px;
    padding-top: 20px;
}

.cafe h2 {
    font-size: 16px;
}

.cafe span {
    font-size: 14px;
}

.toolbar {
    display: flex;
    background-color: #F2F6FC;
    color: #582F1C;
    box-sizing: border-box;
    position: absolute;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -4px 8px #DEDEDE;
    border-radius: 0;
}

.toolItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    gap: 5px;
}

.toolItem span:not(.material-icons) {
    font-size: 12px;
    margin-top: 4px;
}

.toolItem:hover {
    color: #F07331;
}

.explore {
    color: #F07331 !important;
}

#filters {
    font-size: 14px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    line-height: 30px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    scrollbar-width: none;
    transition: all 0.6s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#filters.active {
    opacity: 1;
    visibility: visible;
    height: calc(100vh - 150px);
}

#filterHead {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #DEDEDE;
    padding-bottom: 10px;
    padding-top: 10px;
    position: sticky;
    width:100%;
    top: 0;
    margin: 0;
}

#filterHead h1 {
    font-size: 16px;
}

#filterHead img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2 ease;
}

#filterHead img:hover {
    transform: scale(1.1);
}

.filterContainer {
    border-bottom: 2px solid #DEDEDE;
    padding-top: 15px;
    padding-bottom: 25px;
}

#submitbutton {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

#filterButton {
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    background-color: #582F1C;
    color: white;
    border: none;
    border-radius: 10px;
    bottom: 0;
    height: 50px;
    width: 80%;
}

#filterButton:active {
    transform: scale(0.95);
    transform-origin: center;
}

#filterButton:hover {
    background-color: #F07331;
}